#first {
    background-color: lightblue;
    color: white;
} 
#second{
    background-color: lightgreen;
    color: white;
}
#third{
    background-color: lightcoral;
    color: white;
}
